tests/fixtures/materials/steps/Overrides_Scope.json
{"Overrides_Scope": {"runAfter": {"Analyze_Store_Info": ["Succeeded"]}, "type": "Scope", "actions": {"If_Test_Mode": {"runAfter": {}, "type": "If", "expression": {"and": [{"equals": ["@variables('test_mode')", true]}]}, "actions": {"Redirect_To_Test_Email": {"runAfter": {}, "type": "SetVariable", "inputs": {"name": "store_manager_email", "value": "@variables('test_mode_email')"}}}, "else": {"actions": {}}}, "If_India_Override": {"runAfter": {"If_Test_Mode": ["Succeeded"]}, "type": "If", "expression": {"and": [{"equals": ["@variables('store_country_code')", "in"]}]}, "actions": {"Set_Language_English": {"runAfter": {}, "type": "SetVariable", "inputs": {"name": "store_language", "value": "en"}}}, "else": {"actions": {}}}, "If_Vendor_Name_Cleanup": {"runAfter": {"If_India_Override": ["Succeeded"]}, "type": "If", "expression": {"and": [{"contains": ["@variables('store_name')", " (Vendor)"]}]}, "actions": {"Clean_Vendor_Suffix": {"runAfter": {}, "type": "SetVariable", "inputs": {"name": "store_name", "value": "@replace(variables('store_name'), ' (Vendor)', '')"}}}, "else": {"actions": {}}}}}}
